
{% include header.html %}

<div class="jumbotron">
    <div class="container">
    
        <div class="row">
            <div class="col-sm-8">
                <h1>{{ page.h1 }}</h1>
                {{ content }}
            <p><a class="btn btn-primary btn-lg"
                href="{{site.url}}/{{page.buttonLink}}" role="button">
                {{ page.buttonText }} &raquo;
            </a></p>
        </div>
        <div class="col-sm-4">
            <img src="{{site.url}}/assets/{{page.image}}"
            class="img-responsive"/>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
        {% for release in site.releases %}
        {% if release.iscurrent %}
            {{ release.content }}
        {% endif %}
        {% endfor %}
        <p><a class="btn btn-default" href="{{site.url}}/{{front.link}}" role="button">
            View details &raquo;
        </a></p>
    </div>
  </div>
</div>

{% include footer.html %}
