
{% include header.html %}

<div class="jumbotron">
    <div class="container">
    
        <div class="row">
            <div class="col-sm-8">
                <h1>{{ page.h1 }}</h1>
                {{ content }}
            <p><a class="btn btn-primary btn-lg"
                href="{{site.url}}/{{page.buttonLink}}" role="button">
                {{ page.buttonText }} &raquo;
            </a></p>
        </div>
        <div class="col-sm-4">
            <img src="{{site.url}}/assets/{{page.image}}"
            class="img-responsive"/>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
        <h2>Downloads</h2>
        <table class="table">
            <tr><th>File</th><th>Platform</th></tr>
            <tr>
                <td><a href="#">FAHBench-2.2.4.zip</a></td>
                <td>Windows (zip)</td>
            </tr>
            <tr>
                <td><a href="#">FAHBench-2.2.4.msi</a></td>
                <td>Windows (msi)</td>
            </tr>
        </table>
        <p><a class="btn btn-default" href="{{site.url}}/{{front.link}}" role="button">
            View details &raquo;
        </a></p>
    </div>
  </div>
</div>

{% include footer.html %}
